body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}


.topnav {
    overflow: hidden;
    background-color: rgb(0, 0, 50);
    padding-left: 16px;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 9.5px;
}

.topnav a:hover {

    color: pink;
}

.topnav>div {
    float: right;
}

.bf {
    width: 16px;
    padding-top: 14px;
    float: left;
}


/* HEADER CSS---------------------------------------------------*/
/*
.nav {
    /*background-image: linear-gradient(to top, #000, #1b1b1b);
    background-color: #000;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: height 0.25s ease-in-out;
    pointer-events: none;
    overflow: hidden;
}

.nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
}

.nav-img {
    height: 60px;
}

.nav li {
    list-style-type: none;
    top: 50%;
}

.nav li a {
    display: inline-block;
    position: relative;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
}

.nav li a:hover {
    color: #BDBDBD;
}

.underline {
    position: relative;
    display: inline-block;
    pointer-events: auto;
}

.underline a::after {
    content: '';
    position: absolute;
    width: 60%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 20%;
    /* background-color: rgba(29, 144, 189, 1); 
background-color: rgba(255, 255, 255, 1);
transform-origin: bottom right;
transition: transform 0.25s ease-out,
width 0.25s ease-out;
;
}

.underline a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.dropdown {
    font-size: 13px !important;
    text-decoration: none;
    color: #fff;
}

.dropdown::after {
    height: 0px !important;
}

.dropdown:hover {
    color: rgba(29, 144, 189, 1) !important;
}

.drop-col {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.underline:hover .dropdown-container {
    display: inherit;
}

.dropdown-container-men,
.dropdown-container-women,
.dropdown-container-kids {
    display: none;
    background-color: #000;
    z-index: 1;
    overflow: hidden;
    height: 0;
}

#men:hover .dropdown-container-men {
    display: inherit;
    animation: dropdown-animation 0.25s linear;
    height: auto;
}

#women:hover .dropdown-container-women {
    display: inherit;
    animation: dropdown-animation 0.25s linear;
    height: auto;
}

#kids:hover .dropdown-container-kids {
    display: inherit;
    animation: dropdown-animation 0.25s linear;
    height: auto;
}

@keyframes dropdown-animation {
    0% {
        transform: translateY(-75%);
        opacity: 0;
    }

    50% {
        transform: translateY(-37.5%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.bar {
    background-color: #D2B48C;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.bar>p {
    font-size: 15px;
    margin: 0;
    text-align: center;
}

*/
/**/

.header>h1 {
    background-color: #2e2e2e;
    color: #979797
}

h1 {
    text-align: center;
}

.filter {
    overflow: hidden;
    border-top: solid;
    border-bottom: solid;
    border-width: thin;
    border-color: #ccc;
    display: block;
}

.filter p {
    color: rgb(57, 57, 57);
    font-size: 11px;
    padding: 4.5px 16px;


}

.filter .section {

    display: inline-flex
}

.filter p:hover {
    color: teal;
}



.dropdown-content {
    background-color: white;
    color: black;
    padding: 16px 18px;
    font-size: 11px;
    border: none;
    cursor: pointer;
    border-bottom: solid;
    border-width: thin;
}

.dropdown-content:hover {
    color: teal;
}




.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 25px;
    text-decoration: none;
    font-size: 16px;
    color: #2e2e2e;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    cursor: pointer;
    color: rgb(57, 57, 57);
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 11px;
    border-inline-end: solid;
    border-width: thin;
    border-color: #e2e2e2;
    display: inline-block;
    background-color: white;
}

.openbtn:hover {
    color: teal;
}

#show {
    transition: margin-left .5s;
    padding: 16px;
}


/*popup*/
.quickshop {
    display: inline-grid;

}

.pic {
    width: 300px;
}



.open-button>p {
    text-align: left;
    line-height: 0.5;
    padding-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;

}

#u {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 11px;
    color: #818181
}


.open-button {
    border-style: none;
    cursor: pointer;
    position: relative;
    border-style: none;
    background-color: rgb(239, 239, 239);
}

.form-popup {
    overflow: auto;
    display: none;
    position: fixed;
    bottom: 60px;
    right: 300px;
    border: 1px solid #818181;
    z-index: 2;


}

.form-container {

    height: 450px;
    width: 570px;
    padding: 10px;
    background-color: white;
    display: block;


}

.form-container .close {
    border-style: none;
    background-color: white;
    color: black;
    float: left;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 32px
}

.form-container .wishlist {
    border-style: none;
    background-color: white;
    color: black;
    float: right;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 32px
}

.test-dets {
    position: absolute;
    bottom: 15px;
    left: 150px;
    margin-left: px;
    margin-right: 20px;

}

.test-dets>p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    line-height: 0.5px;


}

.test-dets>h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.sizes {
    padding: 12px;
    border-style: none;
    background-color: black;
    color: white;


}


.s-c {
    margin-top: 30px;
    display: grid;
    width: 300px;
}


#cart {

    border-style: none;
    padding: 12px;
}



.descrip {
    padding: 30px;
}


.footer {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-bottom: 70px;

}


.f1 li {
    color: rgb(227, 227, 227);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    padding: 10px;
    list-style-type: none;
}

.f1 li:hover {
    color: #979797;
}

.f2 li {
    color: rgb(227, 227, 227);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    padding: 10px;
    list-style-type: none;

}

.f2 li:hover {
    color: #979797;
}

.f3>img {
    padding-top: 7px;
    width: 20px;
}

.f3>img:hover {
    color: #979797;
}

/*
.footer {
    overflow: hidden;
    background-color: #000;
    height: 13vh;
    width: 100%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: #BDBDBD;
    font-size: 10px;
}

.socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.socials-button {
    background: none;
    border: none;
    box-shadow: none;
    text-decoration: none;
    margin: 0 5px 0 5px;
}*/